<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>
		Title de mi web
	</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- MUY GUAPO: <link href="css/bootstrap-theme9.min.css" rel="stylesheet"> -->
    <link href="css/bootstrap-theme9.min.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<header>
			{% block encabezado %}
				<img src="imagenes/encabezado.jpg" class="img-responsive">
			{% endblock %}
		</header>
		<nav>
			{% include "menu.html" %}
		</nav>
		<section>
			{% block contenido %}Contenido web{% endblock %}
		</section>
		<footer>
			{% block pie %}
			<h4>Todos los derechos reservados &copy; - <small>2017</small></h4>
			{% endblock %}
		</footer>
	</div>
	<script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>