{% macro input(name, titulo, type, value) %}
	<div class="form-group">
		<label for="{{ name }}">{{ titulo }}</label>
		{% if type=="file" %}
			<img src="imagenes/{{value}}" width="50">
		{% endif %}
		<input type="{{ type|default('text') }}" class="form-control" id="{{ name }}" name="{{ name }}" placeholder="{{ name }}" value="{{ value|default('') }}">
	</div>
{% endmacro %}

{% macro form_start(url) %}
	<form method="post" action="{{ url }}" enctype="multipart/form-data">
{% endmacro %}

{% macro form_end() %}
	</form>
{% endmacro %}

{% macro textarea(name, titulo, value) %}
	<div class="form-group">
		<label for="{{ name }}">{{ titulo }}</label>
		<textarea name="{{ name }}" id="{{ name }}" class="form-control">{{ value|default('') }}</textarea>
	</div>
{% endmacro %}

