{% extends "noticias.html" %}

{% block contenido %}
	<article>
		<header>
			<h2>
			{{ elemento.getTituloNot() }} - {{ elemento.getAutorNot() }}
			 - <small><a href="index.php?contr=noticias.php">Volver</a></small>
			 </h2>
		</header>
		<section>
			{{ elemento.getContenidoNot()|raw }}
		</section>
		<footer>{{ elemento.getFechaNot() }}</footer>
	</article>
{% endblock %}