{% extends "noticias.html" %}

{% block contenido %}

<h3>
	<a href="index.php?contr=noticias.php&accion=insertar">Nueva noticia</a>
</h3>

<table class="table table-striped">
	{% for ele in elementos %}
		<tr>
			<td>
				{{ ele.getTituloNot() }}
			</td>
			<td>
				<a href="index.php?contr=noticias.php&id={{ ele.getIdNot() }}&accion=detalle">
					Ver noticia
				</a>
				<a href="index.php?contr=noticias.php&id={{ ele.getIdNot() }}&accion=modificar">
					 - Modificar 
				</a>
				<a href="index.php?contr=noticias.php&id={{ ele.getIdNot() }}&accion=borrar">
					 - Borrar
				</a>
			</td>
		</tr>
	{% endfor %}
</table>

<hr>

{{ paginacion(numpag, numPaginas, numregistrosporpagina)|raw }}

{% endblock %}
