{% extends "noticias.html" %}

{% block contenido %}

	<div class="row">
        <section class="col-sm-12">
            <div class="alert alert-danger" role="alert">
            {{ error }}  
            </div>
        </section>
      </div>

{% endblock %}