{% extends "pisos.html" %}

{% block contenido %}

<h3>
	<a href="index.php?contr=pisos.php&accion=insertar">Alta de Piso</a>
</h3>

<table class="table table-striped">
	{% for ele in elementos %}
		<tr>
			<td>
				{{ ele.getDireccionPiso() }}
			</td>
			<td>
				<a href="index.php?contr=pisos.php&id={{ ele.getIdPiso() }}&accion=detalle">
					Ver piso
				</a>
				-
				<a href="index.php?contr=pisos.php&id={{ ele.getIdPiso() }}&accion=borrar">
					Borrar piso
				</a>
				-
				<a href="index.php?contr=pisos.php&id={{ ele.getIdPiso() }}&accion=modificar">
					Modificar piso
				</a>
			</td>
		</tr>
	{% endfor %}
</table>

<hr>

{{ paginacion(numpag, numPaginas, numregistrosporpagina)|raw }}

{% endblock %}
