{% extends "index.html" %}

{% block encabezado %}
	{{ parent() }}
	<h1>Bienvenidos a la web - <small>Seccion Pisos</small></h1>
	<hr>
{% endblock %}

{% block pie %}
	<hr>
	<h5>Todos nuestros pisos estan en perfectas condiciones</h5>
	{{ parent() }}
{% endblock %}