{% extends "pisos.html" %}

{% block contenido %}
	<article>
		<header>
			<h2>
			{{ elemento.getDireccionPiso() }} - {{ elemento.getCiudadPiso() }}
			 - <small><a href="index.php">Volver</a></small>
			 </h2>
		</header>
		<section>
			<img src="imagenes/{{ elemento.getImagenPiso() }}" width="200">
			{{ elemento.getCaracteristicasPiso()|raw }}
		</section>
		<footer>{{ elemento.getPrecioPiso() }}</footer>
	</article>
{% endblock %}